@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }

    .about-list article {
        padding: 0 70px;
    }
}

@media (min-width: 992px) and (max-width: 1279px){

    .about-list article {
        padding: 0 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .button-group {
        justify-content: space-around;
    }

    .button-group button {
        margin: 0;
    }

    .contact-info:nth-child(3){
        margin-bottom: 100px;
    }

    .contact-info {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .width{
        width: 50%;
        margin-bottom: 30px;
    }

    form{
        text-align: center;
    }
}

@media (max-width: 767px){
 /*--HEADER--*/
    video {
         display: none;
     }

    .welcome {
        background: url("../images/header-background.jpg") center no-repeat;
        background-size: cover;
    }

    .nav-fixed {
        position: static;
    }
/*--PORTFOILIO--*/

    .button-group {
        flex-wrap: wrap;
    }

    .button-group button {
        margin: 0 5px;
    }

/*--TEAM--*/
    .team-block {
        flex-direction: column;
        align-items: center;
    }


/*---FOOTER---*/
    .margin-bottom {
        margin-bottom: 5%;
    }

    .padding-top {
        display: block;
        padding-top: 5%;
    }

    form{
        text-align: center;
    }
}